// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  width: 100%;
  border-collapse: collapse;
  th {
    color: #666666;
    border: 1px solid gainsboro;
  }
  td {
    border: 1px solid gainsboro;
    height: 200px;
    width: 14.28%;
  }
}
#event {
  font-size: 15px;
}